<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item">
      <a routerLink="/" id="brand" class="uk-navbar-item uk-logo" href="#">The Hub</a>
    </div>
  </div>
  <div class="uk-navbar-right">
    <button routerLink="/weather" class="uk-button" style="margin-right: 15px">
      Forecast
    </button>
    <button routerLink="/news" class="uk-button" style="margin-right: 20px">
      News
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
